services:
  overseerr: # media requesting tool
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./overseerr:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped

  plex: # Media Server
    container_name: plex
    image: ghcr.io/hotio/plex:latest
    restart: unless-stopped
    logging:
      driver: json-file
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - UMASK=002
      - PLEX_CLAIM=$PLEX_CLAIM
      - PLEX_PASS=$PLEX_PASS
      - ADVERTISE_IP=$PLEX_ADVERTISE_IP
    volumes:
      - ./plex:/config
      - $PLEXMEDIA:/data/media
    network_mode: host
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  prowlarr: # indexer manager for the *arrs
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  radarr: # movie search agent
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - UMASK=022
    volumes:
      - ./radarr:/config
      - ./ntfy:/ntfy
      - $MEDIADIR:/media
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr: # TV show search agent
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - UMASK=022
    volumes:
      - ./sonarr:/config
      - ./ntfy:/ntfy
      - $MEDIADIR:/media
    ports:
      - 8989:8989
    restart: unless-stopped

  bazarr: # subtitle grabber
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./bazarr:/config
      - $MEDIADIR:/media
    ports:
      - 6767:6767
    restart: unless-stopped

  readarr: # ebook/audiobook grabber
    image: lscr.io/linuxserver/readarr:0.4.18-develop
    container_name: readarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./readarr:/config
      - $MEDIADIR:/media
    ports:
      - 8787:8787
    restart: unless-stopped

  nzbget: # usenet download agent
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - ./nzbget:/config
      - $MEDIADIR/usenet:/media/usenet
    ports:
      - 6789:6789
    restart: unless-stopped

  tunnel: # remote connections
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=$CF_TUNNEL_TOKEN

  ntfy: # notifications
    container_name: ntfy
    image: binwiederhier/ntfy:latest
    command: serve
    volumes:
      - /var/cache/ntfy:/var/cache/ntfy
      - ./ntfy:/etc/ntfy
    ports:
      - 8000:80
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    restart: unless-stopped

  watchtower: # container updater
    container_name: watchtower
    image: nickfedor/watchtower:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=$TZ
      - WATCHTOWER_CLEANUP=true
      # Update daily at 8am
      - WATCHTOWER_SCHEDULE=0 0 8 * * *
      - WATCHTOWER_NOTIFICATION_URL=ntfy://$NTFY_USER:$NTFY_PASSWORD@$NTFY_URL
    restart: unless-stopped

networks:
  default:
    name: media_server
    external: true
